body{
    margin: 0px;
    padding: 0px;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-smoothing:antialiased;
}
div{
    display: block;
    unicode-bidi: isolate;
}
*, ::after, ::before {
    box-sizing: border-box;
}
@font-face {
    font-family: 'TT Norms bold';
    src: url("assets/font/TTNorms-Bold.woff2") format('woff2');
}
@font-face {
    font-family: 'TT Norms medium';
    src: url("/assets/font/TTNorms-Medium.woff2") format('woff2'); 
}

.container{
    box-sizing: border-box;
    display: block;
    position: relative;
    z-index: 0;
    
}
.subcontainer{
    border-bottom-color: rgb(0,0,0);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    box-sizing: border-box;
    display: 1;
    flex-grow: 1;
    margin-top: 16px;
    z-index: 400;
}
.head-subcontainer{
    box-sizing: border-box;
    column-gap: 8px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;
    max-width: 100%;
    width: 100%;
    padding: 8px;
    margin-top: 0px;


}
.svg-image{
   max-width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: row;
}
.bySLBf{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-width: 1px 1px;
    border-style: solid solid;
    border-color: rgb(241, 241, 241) rgb(241,241,241);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
.center{
    margin-bottom: 0px;
    max-width: 100%;
}
.center-head{
    color: #191919ff;
    font-family: 'TT Norms bold';
    display: block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.01px;
    line-height: 22px;
    margin: 0px;
    max-width: 100%;
    overflow: hidden;
    padding: 0px;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}
.center-head-2{
    color: #606060ff;
    font-family:'TT Norms medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.bottom-sub{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-box-pack: start;
}
.bottom-sub .first-star{
    margin: 0 2px;
}
.bottom-sub .last-star {
    margin-right: 6px;
}
.gEHKkf{
    margin-right: 2px;
}
.iIiQzo{
  
    flex-shrink: 0;
}
.center-head-3{
    margin-left: 4px;
}
.frcmlg{
    color: rgb(96, 96, 96);
    font-family:'TT Norms medium' ;
    font-size: 14px;font-weight: 500;
    letter-spacing: -0.01px;
    line-height: 20px;
    margin-bottom: 0px;
    margin: 0px;
    max-width: 100%;
    overflow: hidden;
    padding: 0px;
    text-decoration-thickness: auto;
}
.button-container{
    align-self: center;
    grid-area: 1/3;
}
.button-container a {
   position: relative;
   max-width: 100%;
   display: inline-flex;
   min-height: 32px;
   align-items: center;
   justify-content: flex-start;
   border-radius:20px;
   align-self: center;
   border: none;
   text-decoration: none;
   background-color:#eb1700ff ;
}
.button-container span{
    color: #ffffff;
    font-family:'TT Norms bold';
    font-size: 16px;
    font-weight: 700;
    padding: 0 12px;
    margin-bottom: 1px;
    letter-spacing: -0.01px;
    line-height: 22px;
}
.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.start-container{
    display: flex;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    z-index: 1;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.starting-container{
    background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/hero_v3/hero_desktop.png);
    height: 550px;
    padding: 0px 8px;
}
.logo-doordash{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding:0px 0px ;
}
.logo{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
   margin-right: 0px;
}
.logo svg{
    width: 32;
    height: 18;
    fill: #ffffffff;
    /* margin-left: 8px; */
}
.doordash{
    line-height: 0;
    margin-left: 8px;
}
.doordash svg{
    width: 112;
    height: 13;
    fill: #ffffffff;
}
.btpdjs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 60px; */
}
.heading-1{
    display: flex;
    justify-content: center;
    /* margin-bottom: 24px; */
    
}



.main-heading {
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 750px;
   
}
.cdyifd{
    font-family: 'TT Norms bold';
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
}
h1{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 24px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 28px;
}
.eydxMQ{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 79px;
    margin-top: 32px;
    z-index: 1;
}
.ghdbpo{
    display: flex;
    padding-right: 24px;
    padding-left: 16px;
    justify-content: flex-end;
    gap: 8px;
    
}
.ghdbpo .lo{
    position: relative;
    max-width: 100%;
    display: inline-flex;
    min-height: 32px;
    align-items: center;
    justify-content: flex-start;
    border-radius:20px;
    align-self: center;
    border: none;
    text-decoration: none;
    background-color:#ffffffff;
    cursor: pointer;
    width: auto;
    color: #191919ff;
    font-family:'TT Norms bold' ;
}
.login-4 {
    display: block;
    flex-grow: 1;
    max-width: 100%;
    opacity: 1;
    padding: 0px 12px;
    letter-spacing: -0.01px;
    margin-bottom: 1px;
}
.ghdbpo .op{
    position: relative;
    max-width: 100%;
    display: inline-flex;
    flex-direction: row;
    min-height: 32px;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #ffffffff;
    font-family: 'TT Norms bold';
    background-color: #eb1700ff;
}
.open-app{
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
    letter-spacing: -0.01px;
    text-transform: none;
    flex-grow: 2;
    min-width: 0px;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
}
.hyypck{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.evotqe{
    display: flex;
    min-height: 40px;
    height: 52px;
    width: 298px;
}
.jLzblc{
    font-family: 'TT Norms bold';
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919ff;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    border: none;
    background-color: #ffffffff;
    padding: 3px 16px;
    border-radius: 32px;
}
.gfefft{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    margin-right: 12px;
}
.iIiQzo{
    flex-shrink: 0;
}
.gfefft svg{
    width: 24;
    height: 24;
    fill: none;
}
.gxcry{
    flex-grow: 1;
    background: inherit;
    max-width: 100%;
    margin: 0 12px 0 auto;
  
}
.hofdvc{
    font-family:'TT Norms medium';
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
    padding-left: 0px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 598;
    width: 100%;
    border: none;
    outline: none;
    display: flex;
}
.loginbutton{
     display: block;
     flex-grow: 1; 
     max-width: 100%;
    opacity: 1;
   
}
.hyypck > * + * {
    margin-top: 16px;
}
.jonjus{
    position: relative;
    max-width: 100%;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #191919ff;
    background-color: #ffffffff;
    padding-left: 12px;
    padding-right: 12px;
}
.hjzgat{
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hjzgat svg{
    width: 16;
    height: 16;
    fill: none;
}
.itasyp{
    font-family: 'TT Norms bold';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    max-width: 100%;
    padding-left: 4px;
}
.text-arrow{
    display: flex;
    align-items: center;
}
.cpcoub{
    margin-right: 8px;
    margin-top: 5px;
}
.browser-faster{
    width: 100%;
    margin: 0px auto;
    flex: 1 0 auto;
}
.bowser-faster-1{
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.bowser-faster-2{
    border-radius: 12px;
    border: #f1f1f1ff;
    background-color: #f7f7f7ff;
    padding: 20px;
    border: 1px solid #f1f1f1ff;
}
.browser-faster-3{
    display: flex;
    text-align: left;
}
.browser-faster-4{
    width: 60px;
    height: 60px;
    border-radius: 12px;
    border: 1px solid #f1f1f1ff;
    background-color: #ffffffff;
    margin-right: 8px;
    padding: 8px;
}
.browser-faster-4 svg{
    width: 40px;
    height: 40px;
    fill: none;
}
.bowser-faster-5{
    max-width: 100%;
    display: block;
}
.browser{
    color: #191919ff;
    font-family:'TT Norms bold' ;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.delivery{
    color: #606060ff;
    font-family: 'TT Norms medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    max-width: 100%;
    overflow: hidden;
    margin-top: 2px;
    margin-left: 4px;
}
.rating{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 2px;
}
/* .gEHKkf{
    margin: 2px;
} */
.rating svg{
    width: 12;
    height: 12;
    fill: none;
    /* margin: 0px 2px 0px 0px; */
}
/* .hkGRrM{
    margin: 0px 2px;
} */
.star-left{
    color: #606060ff;
    font-family: 'TT Norms medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px 0px 0px 4px;
}
.button-browser{
    position: relative;
    max-width: 100%;
    display: flex;
    min-height: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius:20px ;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #eb1700ff;
    color: #ffffffff;
    margin-top: 16px;
}
.continue-1{
    display: block;
    flex-grow: 1;
    max-width: 100%;
    opacity: 1;
    padding: 0px 12px;
}
.continue-2{
    display: flex;
    flex-grow: 2;
    min-width: 0px;
    justify-content: center;
}
.continue-2 > * {
    width: 100%;
}
.continue-3{
    font-family: 'TT Norms bold';
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}
.fTUbgM-1{
    margin: 0px 2px;
}
.fTUbgM{
    margin: 0px 2px 0px 0px;
}
.signin{
    padding-left: 16px;
    padding-right: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  
}
.sign-in{
    position: relative;
    max-width: 100%;
    display: inline-flex;
    min-height: 40px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: #eb1700ff;
    color: #ffffffff;
}
.sign-1{
    color: rgb(255, 255, 255);
    font-family: 'TT Norms bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
}
.Sign-Up{
    position: relative;
    max-width: 100%;
    display: inline-flex;
    min-height: 40px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: #ffffffff;
    color: #191919ff;
}
.sign-Up1{
    color: #606060ff;
    font-family:'TT Norms bold' ;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
}
.lo-sign{
    font-family: 'TT Norms bold';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    max-width: 100%;
    padding-left: 4px;
}
.saved-address{
    font-family: 'TT Norms bold';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    max-width: 100%;
    display: block;
}
.picturetext-container{
    max-width: 768px;
    margin: 0px auto;
    display: block;
}
.pic-cont-1{
    max-width: 100%;
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0px;
    
}
.pic-cont-2{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.pic-cont-3{
    display: flex;
    width: 100%;
    min-width: 360px;
    flex-flow: row;
    flex-wrap: nowrap;
}
.pic-cont-31{
    max-width: 100%;
    padding: 16px 16px;
}
.present-pic-cont-1{
    margin-right: 32px;
}
.present-pic-cont-1 img{
    height: 88px;
    width: 88px;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.pic-text-cont-1{
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 250px;
}
.pic-text-cont-1-1{
    max-width: 100%;
    display: block;
}
.become-dasher{
    color: #191919ff;
    font-family: 'TT Norms bold';
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    display: block;
    margin: 0px;
}
h2{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.pic-text-cont-1-1 > * + * {
    margin-top: 0px;
}
.sub-becomedasher{
    color: #191919ff;
    font-family:'TT Norms medium' ;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    display: block;
    margin: 0px;
}
h3{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.button-startearning{
    border: 0px;
    padding: 0px;
    margin: 12px 0px 0px 0px;
    outline: 0px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.start-earning{
    color: #eb1700ff;
    font-family:'TT Norms bold' ;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    text-shadow: none;
}
.button-startearning svg{
    width: 16;
    height: 16;
    fill: none;
}
.spacing{
    width: 4px;
}
/* almost all picture main container */
.bigpicturetext-container{
    width: 100%;
}
.big-picturetext-1{
    width: 100%;
}
.big-picturetext-1-1{
     display: flex;
     flex-direction: column;
     padding: 20px;
     min-width: 90%;
     align-items: center;
}
.big-picturetext-1-1-new{
    margin-bottom: -300px;
}
/* not mention in original site */
.big-picturetext-1-2{
    width: 100%;
}
.big-picturetext-1-2 img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.big-picturetext-1-3 .big-picturetext-1-1{
    text-align: left;
}
.big-picturetext-1-1 > * > h2, .big-picturetext-1-1 > * > span {
    text-align: left;
}
.everything-crave{
    color: #191919ff;
    font-family: 'TT Norms bold';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
}
.new-everything{
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 0px;
}
.crave-1{
    color: #191919ff;
    font-family:'TT Norms bold' ;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
}
.new-crave-1{
    margin-top: 10px;
}
.crave-2{
    color: #191919ff;
    font-family: 'TT Norms medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
}
.new-creve-2{
    margin-top: 10px;
}
.big-pictbutton{
    margin-top: 20px;
}
.big-pictbutton-1{
    position: relative;
    max-width: 100%;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: #eb1700ff;
    color: #ffffffff;
}
.big-pictbutton-1-1{
    padding: 0px 12px;
}
.new-big-pictbutton-1-1{
    display: block;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
}
.big-pictbuttton-1-2{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.big-pictbutton-1-3{
    flex-grow: 2;
    min-width: 0px;
    display: flex;
    justify-content: center;
}
.big-pictbutton-1-3 > *{
    width: 100%;
}
.big-pictbutton-1-4{
    font-family:'TT Norms bold' ;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.new-big-picturetext-1{
    background-color: rgb(254, 241, 238);
    padding-top: 320px;
}
.big-picturetext-3{
    background: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/grocery_desktop.png) center center / cover;
    position: relative;
    height: 350px;
}
.big-picturetext-3-1{
    background-color: rgba(30, 30, 30,  0.6);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    place-content: center;
    text-align: center;
}
.big-picturetext-3-1 > div{
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 550px;
}
.big-picturetext-3-2{
    display: flex;
    flex-direction: column;
}
.big-picturetext-3-1 > * > h2, .big-picturetext-3-1 > * > span{
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0,0,0,0.2) 0px 2px 8px);
}
.big-picturetext-5{
    display: flex;
    justify-content: center;
    background-color: rgb(254, 241, 238);
    padding: 40px 20px 20px;
    width: 100%;
}
.big-picturetext-5-1{
    color: #191919ff;
    font-family: 'TT Norms bold';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
}
.new-big-picturetext-5-1{
    text-align: center;
    max-width: 300px;
}
.big-picturetext-6{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    background-color: rgb(254, 241, 238);
}
.big-picturetext-6-1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
}
.new-big-picturetext-6-1{
    margin-left: 5%;
    margin-right: -10%;
}
.big-picturetext-6-1 .big-picturetext-1-3{
    text-align: center;
    align-items: center;
}
.big-picturetext-1-3{
    display: flex;
    flex-direction: column;
}
.big-picturetext-6-1 > * > h2, .big-picturetext-6-1 > * > span{
    text-align: center;
}
.new-enjoy-responsibility{
    margin-top: 10px;
}
.enjoy-responsibility{
    color: #191919ff;
    font-family: 'TT Norms medium';
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
}
.big-picturetext-7{
    display: flex;
    justify-content: center;
    background-color: #ffffffff;
    padding: 40px 20px 20px;
    width: 100%;
}
.top-footer{
    width: 100%;
    max-width: 1130px;
    padding: 48px 0px;
    margin: 0px auto;
}
.top-footer-1{
    color: #191919ff;
    font-family: 'TT Norms bold';
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
}
.new-top-footer{
    text-align: center;
    margin-bottom: 20px;
}
.sub-top-footer{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 24px;
}
.sub-top-footer-1{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}
.top-footer-heading{
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffffffff;
    border-bottom: 3px solid #191919ff;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.top-footer-heading-1{
    color: #191919ff;
    font-family:'TT Norms bold' ;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
}
.top-footer-heading-2{
    box-sizing: border-box;
    width:33.33% ;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffffffff;
    border-bottom: 2px solid #f1f1f1ff;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.top-footer-heading-3{
    color: #606060ff;
    font-family:'TT Norms medium' ;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    display: block;
}
.sub-foot-main{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
.sub-foot-small-sections{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    width: 100%;
}
.new{
    text-decoration: none;
    width: 100%;
    white-space: nowrap;
    display: block;
}
.new-york{
    color: #191919ff;
    font-family:'TT Norms medium' ;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
}
.see-more{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}
.see-more-1{
    color: #191919ff;
    font-family:'TT Norms bold' ;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
}
.new-see-more-1{
    margin-right: 8px;
}
.down-arrow{
    position: relative;
    max-width: 100%;
    margin: 0px;
    display: inline-flex;
    min-height: 40px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: #f1f1f1ff;
    /* box-shadow: inset 0 0 0 1px; */
    color: #191919ff;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
/* responsive styling */
@media screen and (max-width:480px){
    .top-footer{
        max-width: 100%;
        padding: 24px 16px;
    }
    .top-footer-heading{
        border-bottom: 3px solid transparent;
        box-shadow: 0px 3px 0px #191919ff;
        padding-bottom: 12px;

    }
    .top-footer-heading-2{
        border-bottom: 2px solid transparent;
        box-shadow: 0px 2px 0px #f1f1f1ff;
        padding-bottom: 12px;       
    }
    
}
@media screen and (max-width:767px){
    .browser-faster{
        max-width: 400px;
    }
    .signin{
        display: none;
    } 
    .lo-sign{
        display: none;
    }
     .iIiQzo-2 {
        display: none;
    } 
    

}
@media screen and (min-width:767px){
    .sign-1,.sign-Up1{
      padding-left: 12px;
      padding-right: 12px;
    }  
    .logo-doordash{
      margin-right: 2px;
      margin-top: 24px;
      margin-bottom: 24px;
      padding-left: 17px;
  }    
  
}
@media screen and (max-width: 768px){
    .main-heading{
        max-width: 350px;
        letter-spacing: 0px;
        font-size: 22px;
        line-height: 28px;
    }   
   
}
@media screen and (min-width:768px){
    .subcontainer{
       opacity: 0;
    }
    .head-subcontainer{
        display: none;
    }   
    .subcontainer{
        margin-top: 0px;
   }   
   .ghdbpo{
    display: none;
   }
   .browser-faster{
    display: none;
    }
    .btpdjs{
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .starting-container{
        height: 650px;
     }  
     .evotqe{
        height: 56px;
        width: 408px;
       }
       .eydxMQ{
        top: 0px;
        margin-top: 16px;
    }
    .iIiQzo-1{
        display: none;
    }  
    .itasyp{
        display: none;
    } 
    .jLzblc{
        display: flex;
        justify-content: space-between;
    }
    .text-arrow{
        padding-left: 4px;
    }
    .cpcoub{
        padding-left: 10px;
        padding-top: 5px;
        margin-top: 0px;
        margin-right: 0px;
    }
    .present-pic-cont-1 img {
        height: 124px;
        width: 124px;
    }
   .present-pic-cont-1{
    margin-right: 64px;
   }
   .big-picturetext-1-1-new-1{
    flex-direction: row;
    justify-content: center;
    margin-bottom: -60px;
  }
 .for-responsive{
    display: flex;
    flex-direction:row-reverse;
    gap: 60px;
    max-width: 1184px;
 }
 .for-text-responsive{
    max-width: 400px;
    margin-top: auto;
    margin-bottom: auto;
 }
 .big-picturetext-1-3 {
    text-align: left;
}
 
   .everything-crave {
    font-size: 40px;
    line-height: 40px;
   }
   .new-crave-1{
    margin-top: 20px;
   }
   .crave-1{
    font-size: 20px;
    line-height: 24px;
   }
   .crave-2 {
    font-size:16px ;
    line-height: 22px;
   }
   .big-pictbutton{
    margin-top: 30px;
   }
   .big-pictbutton-1{
    min-height: 40px;
   }
   .big-pictbutton-1-4{
    font-size: 16px;
    line-height: 22px;
   }
   .big-picturetext-1-2 img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    }
    .new-big-picturetext-1{
        display:flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 80px;
    }
    .for-margin{
        margin-top: 20px;
    }
    .for-responsive-1{
    display: flex;
    flex-direction:row;
    gap: 60px;
    max-width: 1184px;
 }
     .big-picturetext-3{
        height: 600px;
     }
     .for-p-and-m {
        padding-top: 60px;
        margin-bottom: -40px;
     }
     .big-picturetext-5{
        padding: 60px 20px 40px;
     }
     .big-picturetext-5-1{
        font-size: 32px;
        line-height: 40px;
     }
     .new-big-picturetext-5-1{
        max-width: 500px;
     }
     .big-picturetext-6{
    display: flex;
    flex-direction: column;
    }
    .single-alingment{
        display: flex;
        /* flex-flow: wrap;
        width: 100%;
        max-width: 1184px; */

        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .big-picturetext-6{
        overflow-x: hidden;
        flex-flow: wrap;
        display: flex;
        width: 100%;
        
    }

    .new-big-picturetext-6-1{
        max-width: 50%;
        min-width: 50%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .scroll-section{
        position: relative;
        width: 100%;
    }
    .scroll-section img{
        position: absolute;
        inset: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    .scroll-section::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    .big-picturetext-1-1 > * > h2, .big-picturetext-1-1 > * > span {
    text-align: center;
    }
    .new-creve-2{
        margin-top: 20px;
    }
    .enjoy-responsibility{
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }
    .big-picturetext-7{
        padding: 60px 20px 40px;
    }
    /* *, ::after, ::before {
    box-sizing: border-box;
} */
  
}

@media screen and (min-width:769px){
    .cdyifd{
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;

    }
    
}
@media screen and (min-width:960px){
    .lo-sign{
        display: none;
    }
}
@media screen and (max-width:959px){
    .saved-address{
        display: none;
      
    }
}
 @media screen and (min-width:959px) {
   .logo-doordash .logo-svgg{
    width: 42px;
    height: 24px;

   }
   .saved-address{
    padding-left: 4px;
    letter-spacing: -0.01px;
   }

   .logo-doordash .doordash-svg{
    width: 159px;
    height: 18px;
    margin-left: 7px;
    padding-left: 5px;
   }
   .logo{
    margin-right: 5px;
   }

 }
 @media screen and (min-width:1184px){
    .cpcoub{
        background-color: #eb1700ff;
        position: relative;
        max-width: 100%;
        min-height: 40px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        text-decoration: none;
        display: flex;
        justify-content: end;
        padding-right: 8px;
     
    }
    .arrow-svg-2{
        display: block;
        margin-bottom: 5px;
    }
    .arrow-svg-1{
        display: none;
        
       
    }
    .arrow-svg{
        padding-left: 8px;
    }
   .jLzblc{
    padding-left: 17px;
    padding-right: 8px;
   }
   .picturetext-container{
      max-width: 1184px;
   }
   .pic-cont-1{
    margin: 96px 0px;
    flex-direction: row;
      }
    .pic-cont-2{
        flex-direction: row;
    }
    .pic-cont-3{
      
        flex-flow: column;
    }
    .present-pic-cont-1{
        display: flex;
        justify-content: center;
    }
    .present-pic-cont-1 img{
        height: 154px;
        width: 154px;
    }
    .pic-text-cont-1{
        min-height: 160px;
    
    }
    .button-startearning{
        justify-content: center;
    }
    .become-dasher{
        text-align: center;
    }
    .sub-becomedasher{
        text-align: center;
        margin-top: 8px;
    }
    .start-earning{
        font-size: 18px;
        line-height: 22px;
    }
  
 }
 @media screen  and (max-width:1184px){
    .arrow-svg-2{
        display: none;
    }
    
 }
@media (min-width: 768px) and (max-width:1183px){
    .pic-cont-1{
        margin: 32px 0px;
    }
   
}


